html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    
}


.header {
    background: #24262b;
    height: 90px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.logo {
    height: 90px;
    display: flex;
    
}

.logo h1 {
   color: aliceblue;
   padding-top: 20px; 
   padding-left: 5px;
}

.search {
   padding-top: 25px;
   
}

.search form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
     
}

.search form input {
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    width: 500px;
}

.nav-links {
    color: #fff;
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
}

.nav-links li {
    padding-left: 10px;
}

.nav-links li a::after {
  content: '';
  background: #ff3d00;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.log {
    display: flex;
    padding-left: 0;
    padding-top: 25px;
}

.log li {
    display: inline-block;
    margin: 0 10px;
}

.sign {
    background: blue;
    color: #fff;
    padding: 5px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.log-in {
    background: rgb(15, 243, 117);
    color: #fff;
    padding: 5px 30px;
    border-radius: 3px;
    cursor: pointer;
}

/* css for the body content goes here */

.big_name {
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px 30px;
}

.body-parent {
    background: #ff3d00;
    display: flex;
    box-sizing: border-box;
    min-height: 1000px;
    max-height: 2000px;
    justify-content: space-between;
    margin: 15px 15px;
}

.image-gallery {
    background: aqua;
    height: 900px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px 15px;
    overflow: scroll;
    justify-content: center;
    border-radius: 10px;
}

.image-gallery img {
    max-width: 500px;
    max-height: 400px;
    margin: 15px 25px;
}

.filter {
    background: chartreuse;
    height: 900px;
    width: 20%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filter button {
    width: 150px;
    height: 30px;
    margin: 5px;
}



/*  css for the footer goes here*/

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* responsive */

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }